{% template main %}

{% liquid 
assign salt = view | plus:0 | times: 17
assign unique_number = "now" | date: "%s%N" | times: 1 
assign unique_salted = unique_number | plus: salt
assign portrait_random_index = unique_salted | modulo: data.portrait_items.size
assign portrait = data.portrait_items[portrait_random_index]
assign landscape_random_index = unique_salted | modulo: data.landscape_items.size
assign landscape = data.landscape_items[landscape_random_index]
%}
<div class="layout layout--stretch layout--center">
  {% unless force_portrait %}
  <img class="image image--contain w--auto h--auto w--max-full h--max-full image-dither {% unless force_landscape %}portrait:hidden{% endunless %}" src="{{landscape.url}}" />
  {% endunless %}

  {% unless force_landscape %}
  <img class="image image--contain w--auto h--auto w--max-full h--max-full image-dither {% unless force_portrait %}hidden portrait:block{% endunless %}" src="{{portrait.url}}" />
  {% endunless %}
</div>

<div class="title_bar">
  <div class="title">{{trmnl.plugin_settings.instance_name | default: "Waifus" }}</div>
  {% unless force_portrait %}
  <span class="instance {% unless force_landscape %}portrait:hidden{% endunless %}">#{{landscape.id}}</span>
  {% endunless %}

  {% unless force_landscape %}
  <span class="instance {% unless force_portrait %}hidden portrait:block{% endunless %}">#{{portrait.id}}</span>
  {% endunless %}
</div>
{% endtemplate %}