<div id="image-container" class="layout layout--stretch layout--center gap--none m--0 p--0">
  {% if data.image_url %}
  <img class="image image--contain image-dither rounded w--auto h--auto w--max-full h--max-full" src="{{data.image_url}}" />
  {% endif %}
</div>

<div class="title_bar">
  {% if data.author.usericon %}<img class="w--8 h--8" src="{{data.author.usericon}}" />{% endif %}
  <div class="title">{{data.title}}{%if data.author.username and data.image_url %} by {{data.author.username}}{%endif%}</div>
  <div class="flex flex--row">
    {% if data.stats %}
      <span class="flex flex--row flex--center-x gap--1 ml--1">
        <svg class="w--4 h--4 image--stroke" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        <span>{{ data.stats.favourites | default: 0 }}</span>
      </span>
      <span class="flex flex--row flex--center-x gap--1 ml--1">
        <svg class="w--4 h--4 image--stroke" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
        </svg>
        <span>{{ data.stats.comments | default: 0 }}</span>
      </span>
    {% endif %}
  </div>
  <span class="instance">
    <svg class="w--4 h--4" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg" fill="none">
      <path stroke="#000000" stroke-linejoin="round" stroke-width="12" d="M99 54H54v28h33m6 56h45v-28h-33"/>
      <path fill="#000000" fill-rule="evenodd" d="M110.616 19.351A6.002 6.002 0 0 1 116 16h22a6 6 0 0 1 6 6v22c0 .918-.211 1.825-.616 2.649L109.258 116H95.884L132 42.604V28h-12.265l-15.746 32H90.615l20.001-40.649ZM88.011 132l-15.746 32H60v-14.604L96.116 76H82.742l-34.126 69.351A6 6 0 0 0 48 148v22a6 6 0 0 0 6 6h22a6 6 0 0 0 5.383-3.351L101.385 132H88.011Z" clip-rule="evenodd"/>
    </svg>
    DeviantArt
  </span>
</div>